<main class="movie-page">
  <a class="back" href="/movies">back</a>
  <section class="card">
    <h1>{{title}}</h4>

    <img src="{{image}}" alt="Movie image">

    <p class="movie-description">{{description}}</p>
    
    <p>{{stars}}</p>

    <p>{{showtimes}}</p>

  </section>
</main>
